.nav-wrapper {
    background-image: url("http://rs1150.pbsrc.com/albums/o611/DaRnIzZIe/Odd%20Future%20Wallpaper/OddFuture.png~c200");
}

body{
    background: url("http://e2ua.com/data/wallpapers/24/WDF_718183.jpg");
}

.niko {
    font-family: 'Catamaran', sans-serif;
    height: 50px;
    width: 30px;
}